html,
html * {
  -webkit-font-smoothing: antialiased;
}

@media only screen and (max-width: 375px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
  }
}

.no-scroll {
  overflow: hidden;
}

.owl-carousel.owl-loaded {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.owl-stage-outer {
  width: 100%;
}

.owl-nav,
.owl-dots {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.owl-dots {
  left: 0;
}

.owl-nav {
  gap: 20px;
  right: 0;
}
.owl-nav .owl-prev,
.owl-nav .owl-next {
  padding: 0;
  background: none;
  border: none;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.owl-nav .owl-prev svg circle,
.owl-nav .owl-next svg circle {
  fill: #4561ec;
  -webkit-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}
.owl-nav .owl-prev.disabled svg circle,
.owl-nav .owl-next.disabled svg circle {
  fill: #7e93fb;
}
.owl-nav .owl-prev:not(.disabled),
.owl-nav .owl-next:not(.disabled) {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.owl-nav .owl-prev:not(.disabled):hover,
.owl-nav .owl-next:not(.disabled):hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
.owl-nav.disabled {
  display: none;
}

.res-items .owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tes-items .owl-stage,
.tes-items .owl-item,
.sol-items .owl-stage,
.sol-items .owl-item,
.fc-items .owl-stage,
.fc-items .owl-item,
.sh-items .owl-stage,
.sh-items .owl-item,
.lp-items .owl-stage,
.lp-items .owl-item,
.ar-items .owl-stage,
.ar-items .owl-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.res-items .owl-dots,
.sol-items .owl-dots,
.fc-items .owl-dots,
.sh-items .owl-dots,
.lp-items .owl-dots,
.ar-items .owl-dots {
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sol-items .owl-dots,
.res-items .owl-dots,
.fc-items .owl-dots,
.lp-items .owl-dots {
  width: calc(100% - 182px);
}
@media only screen and (max-width: 767px) {
  .sol-items .owl-dots,
  .res-items .owl-dots,
  .fc-items .owl-dots,
  .lp-items .owl-dots {
    width: calc(100% - 112px);
  }
}

.fc-items .owl-dot,
.res-items .owl-dot,
.sol-items .owl-dot,
.sh-items .owl-dot,
.lp-items .owl-dot,
.ar-items .owl-dot {
  background: #373839;
  height: 1px;
  padding: 0;
  border: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.fc-items .owl-dot.active,
.res-items .owl-dot.active,
.sol-items .owl-dot.active,
.sh-items .owl-dot.active,
.lp-items .owl-dot.active,
.ar-items .owl-dot.active {
  background: #7e93fb;
  height: 4px;
}

.sh-items .owl-dot:not(.active),
.lp-items .owl-dot:not(.active),
.ar-items .owl-dot:not(.active) {
  background: #bebec4;
}
.sh-items.owl-loaded,
.lp-items.owl-loaded,
.ar-items.owl-loaded {
  overflow: visible;
}
.sh-items .owl-dots,
.lp-items .owl-dots,
.ar-items .owl-dots {
  width: calc(100% - 112px);
}

.sh-items .owl-item:not(.active) .sh-item, .sh-items .owl-item.active + .active + .active .sh-item {
  opacity: 0.24;
}
.sh-items .owl-item:last-child .sh-item {
  border: none;
}
.sh-items .sh-item {
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
@media only screen and (min-width: 992px) {
  .sh-items .owl-stage-outer {
    min-width: calc(100% + 60px);
    overflow: hidden;
  }
}

.res-items .owl-dot:not(.active),
.fc-items .owl-dot:not(.active),
.ar-items .owl-dot:not(.active) {
  background: #adbbff;
}

.ar-items .owl-dot.active {
  background: #4561ec;
}

.tes-items .owl-item:not(.active) .tes-item * {
  color: #bebec4;
}
.tes-items .owl-dots {
  gap: 4px;
  counter-reset: dots;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #4561ec;
}
.tes-items .owl-dot {
  background: none;
  padding: 0;
  display: none;
}
.tes-items .owl-dot.active,
.tes-items .owl-dot:last-child {
  display: block;
}
.tes-items .owl-dot:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
}
.tes-items .owl-dot:last-child span:first-of-type {
  display: none;
}
.tes-items .owl-dot:last-child.active span:first-of-type {
  display: block;
}
.tes-items.is-ar .owl-dots {
  color: #7e93fb;
}
.tes-items.no-carousel .tes-item {
  border: none;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .sh-items .owl-nav {
    display: none;
  }
  .sh-items .owl-dots {
    width: 100%;
  }
}
@media only screen and (min-width: 992px) {
  .tes-items .owl-item:last-child .tes-item {
    border: none;
  }
}
.about-us[data-background=white] {
  background-color: #e7ebff;
}

.about-us[data-background=gray] {
  background-color: #17181c;
}

.about-us[data-background=white] {
  background-color: #e7ebff;
}

.about-us[data-background=gray] {
  background-color: #17181c;
}

.about-us[data-background=white] h2 {
  color: #000;
}

.about-us[data-background=white] div {
  color: #373839;
}

.about-us[data-background=gray] h2 {
  color: #fff;
}

.about-us[data-background=gray] div {
  color: #bebec4;
}

code {
  color: var(--indigo);
  font-family: "Inter";
  font-weight: 600;
}

.reources[data-background=black] {
  background-color: #000;
}

.reources[data-background=black] h2,
.reources[data-background=black] div {
  color: #fff;
}

.testimonial[data-background=white] {
  background-color: white;
}

.testimonial[data-background=gray] {
  background-color: #f4f6ff;
}

.blog-details code {
  font-family: "Inter Tight";
  color: var(--indigo);
  font-weight: 600;
}

.blog-details h3 {
  font-weight: normal;
}

.blog-details figcaption {
  color: var(--black);
  font-family: Inter, sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .blog-details h3 {
    font-size: 20px;
  }
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.vimeo-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero .w-richtext h1 {
  margin: 0;
}

.w-container:before,
.w-container:after {
  content: none;
}

.cl-accordion-data img,
.cl-accordion-data .cl-accord-heading {
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.cl-accordion-data.open .sol-acc-item-inner {
  gap: 10px;
}
.cl-accordion-data.open img,
.cl-accordion-data.open .cl-accord-heading {
  opacity: 100%;
}
.cl-accordion-data.open .cl-accordion-desc {
  height: auto;
}
@media screen and (max-width: 991px) {
  .cl-accordion-data.open {
    gap: 60px;
  }
  .cl-accordion-data.open .sol-acc-img.is-mobile {
    display: block;
  }
}
.cl-accordion-data .cl-accordion-desc p:last-child {
  margin: 0;
}

.faq-item.open {
  gap: 16px;
}
.faq-item.open .faq-body {
  height: auto;
}
.faq-item.open .faq-minus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.faq-item.open .faq-plus {
  display: none;
}
.faq-item .faq-body p:last-child {
  margin: 0;
}
.faq-item .faq-body a {
  color: white;
}

.lp-item .lp-overlay {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.lp-item .lp-arrow {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.lp-item:not(.has-overflow) .lp-overlay {
  display: none;
  pointer-events: none;
}
.lp-item.open .lp-feat {
  height: auto;
}
.lp-item.open .lp-overlay {
  background: none;
}
.lp-item.open .lp-arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.lp-item.open .lp-inner {
  padding-bottom: 62px;
}
.lp-item .lp-highlight:not(.w-condition-invisible) + .lp-inner {
  border: 1px solid #8590fb;
  border-radius: 0 0 4px 4px;
}
.lp-item .lp-feat ul {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.lp-item .lp-feat ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.lp-item .lp-feat ul li svg {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  top: 1px;
  position: relative;
}

.about-cartd-description,
.two-line-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.w-condition-invisible,
.w-dyn-bind-empty {
  display: none;
}

.global-cta {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.global-cta svg circle,
.global-cta svg path {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.global-cta:hover:not(.outline):not(.white) svg circle, .global-cta:hover.white.outline svg circle {
  fill: #4561ec;
}
.global-cta:hover:not(.outline):not(.white) svg path, .global-cta:hover.white.outline svg path {
  stroke: white;
}
.global-cta:hover.outline:not(.white) svg circle, .global-cta:hover.white:not(.outline):not(.vid-play) svg circle {
  fill: white;
}
.global-cta:hover.outline:not(.white) svg path, .global-cta:hover.white:not(.outline):not(.vid-play) svg path {
  stroke: #4561ec;
}

.richtext-heading * {
  margin: 0 !important;
}

.lp-highlight.w-condition-invisible {
  opacity: 0;
  display: block !important;
}

.res-items .w-dyn-item {
  overflow: hidden;
  opacity: 0;
}

.global-heading-horizontal.is-faq,
.global-heading-left.is-faq,
.global-heading-right.is-faq {
  margin: 0 !important;
}

.ar-list-item, .ar-list-item * {
  cursor: pointer;
}
.ar-list-item .ar-list-label {
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.ar-list-item.active .ar-orb {
  display: block;
}
.ar-list-item.active .ar-list-label {
  color: black;
}

.social-link svg path[fill="#4561EC"] {
  -webkit-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}
.social-link:hover svg path[fill="#4561EC"] {
  fill: #7e93fb;
}

.navbar_component .main-nav-dd .nav-dd-toggle .navbar_link {
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  position: relative;
}
.navbar_component .main-nav-dd .nav-dd-toggle .navbar_link::before {
  content: "";
  height: 3px;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  background: #7e93fb;
}
.navbar_component .main-nav-dd .global-container {
  opacity: 0;
  -webkit-transform: translateY(16px);
          transform: translateY(16px);
}
@media only screen and (min-width: 991px) {
  .navbar_component:not(.is-gray).hovering, .navbar_component:not(.is-gray).searching, .navbar_component:not(.is-black).hovering, .navbar_component:not(.is-black).searching {
    background: black !important;
  }
  .navbar_component:not(.is-gray).hovering .main-logo-black,
  .navbar_component:not(.is-gray).hovering .search-icon-black, .navbar_component:not(.is-gray).searching .main-logo-black,
  .navbar_component:not(.is-gray).searching .search-icon-black, .navbar_component:not(.is-black).hovering .main-logo-black,
  .navbar_component:not(.is-black).hovering .search-icon-black, .navbar_component:not(.is-black).searching .main-logo-black,
  .navbar_component:not(.is-black).searching .search-icon-black {
    display: none !important;
  }
  .navbar_component:not(.is-gray).hovering .main-logo-white,
  .navbar_component:not(.is-gray).hovering .search-icon-white, .navbar_component:not(.is-gray).searching .main-logo-white,
  .navbar_component:not(.is-gray).searching .search-icon-white, .navbar_component:not(.is-black).hovering .main-logo-white,
  .navbar_component:not(.is-black).hovering .search-icon-white, .navbar_component:not(.is-black).searching .main-logo-white,
  .navbar_component:not(.is-black).searching .search-icon-white {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .navbar_component:not(.is-gray).hovering .nav-dd-toggle .navbar_link,
  .navbar_component:not(.is-gray).hovering .navbar_link.client-login, .navbar_component:not(.is-gray).searching .nav-dd-toggle .navbar_link,
  .navbar_component:not(.is-gray).searching .navbar_link.client-login, .navbar_component:not(.is-black).hovering .nav-dd-toggle .navbar_link,
  .navbar_component:not(.is-black).hovering .navbar_link.client-login, .navbar_component:not(.is-black).searching .nav-dd-toggle .navbar_link,
  .navbar_component:not(.is-black).searching .navbar_link.client-login {
    color: white !important;
  }
  .navbar_component.searching .navbar_search {
    visibility: visible;
  }
  .navbar_component.searching .navbar_search .navbar_search_inner {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
  }
}
@media only screen and (max-width: 990px) {
  .navbar_component.mob-active {
    background: black !important;
  }
  .navbar_component.mob-active .navbar_mob {
    visibility: visible;
    height: calc(100vh - 108px);
    padding-top: 34px;
    height: calc(100dvh - 108px);
  }
  .navbar_component.mob-active .main-logo-black {
    display: none !important;
  }
  .navbar_component.mob-active .main-logo-white {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .navbar_component.mob-active .navbar_mob .navbar_mob_inner {
    opacity: 1;
    top: 0;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
  }
}
.navbar_component .main-nav-dd:hover .nav-dd-list-container {
  visibility: visible;
}
.navbar_component .main-nav-dd:hover .nav-dd-toggle .navbar_link::before {
  opacity: 1;
}
.navbar_component .main-nav-dd:hover .global-container {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.navbar_component .rent-title-container .indigo-highlight {
  color: #7e93fb;
}
.navbar_component .pr-link:hover::before {
  opacity: 1;
}
.navbar_component .pr-link::before {
  content: "";
  position: absolute;
  height: calc(100% + 24px);
  width: calc(100% + 24px);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: -1;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.1215686275);
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}
.navbar_component .navbar_mob .navbar_mob_inner {
  opacity: 0;
  top: 16px;
  position: relative;
}
.navbar_component .navbar_mob .navbar_mob_dd.open .navbar_mob_dd_body {
  padding-top: 32px;
  padding-bottom: 20px;
}
.navbar_component .navbar_mob .navbar_mob_dd.open .navbar_mob_title {
  color: #7e93fb;
}
.navbar_component .navbar_mob .navbar_mob_dd.open .navbar_mob_arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.navbar_component .navbar_mob .navbar_mob_dd.open .navbar_mob_arrow svg path {
  stroke: #7e93fb;
}
.navbar_component .navbar_mob .navbar_mob_dd .navbar_mob_title {
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.navbar_component .navbar_mob .navbar_mob_dd .navbar_mob_arrow {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.navbar_component .navbar_mob .navbar_mob_dd .navbar_mob_arrow svg path {
  -webkit-transition: stroke 0.3s ease-in-out;
  transition: stroke 0.3s ease-in-out;
}
.navbar_component .navbar_search .navbar_search_inner {
  opacity: 0;
  -webkit-transform: translateY(16px);
          transform: translateY(16px);
}
.navbar_component .navbar_search .navbar_search_inner input {
  width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  color: black;
  outline: none;
  border: none;
}
.navbar_component .navbar_search .navbar_search_inner input::-webkit-input-placeholder {
  color: black;
}
.navbar_component .navbar_search .navbar_search_inner input::-moz-placeholder {
  color: black;
}
.navbar_component .navbar_search .navbar_search_inner input:-ms-input-placeholder {
  color: black;
}
.navbar_component .navbar_search .navbar_search_inner input::-ms-input-placeholder {
  color: black;
}
.navbar_component .navbar_search .navbar_search_inner input::placeholder {
  color: black;
}

.ar-carousels .ar-carousel .ar-collection::after {
  content: none !important;
}

.cell-31 .light-bg {
  border-top-right-radius: 4px;
  overflow: hidden;
}

@media only screen and (max-width: 990px) {
  body,
  section {
    max-width: 100vw;
  }
}
.blog-details h1,
.blog-details h2,
.blog-details h3,
.blog-details h4,
.blog-details h5 {
  font-weight: normal;
}

.blog-content div:empty,
.blog-content p:empty {
  display: none;
}
.blog-content .w-richtext:before,
.blog-content .w-richtext:after,
.blog-content .w-embed:before,
.blog-content .w-embed:after {
  content: none !important;
}
.blog-content a {
  color: #4561EC !important;
  font-weight: 600;
  text-decoration: none !important;
}

.transition-fade,
.transition-top {
  visibility: hidden;
}